[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
proxy = "python -m flask --app main run"
